extends layout

block content
  .main
    img.icon(src='/images/icon.png')
    p.title Permchecker for DOL
    p.text Permchecker includes open-source components:
    ul
      li #[a(href='https://momentjs.com/') moment]
      li #[a(href='https://facebook.github.io/react-native/') React-Native]
      li #[a(href='https://github.com/mroderick/PubSubJS') pubsub-js]
      li #[a(href='https://github.com/sbugert/react-native-admob') react-native-admob]
      li #[a(href='https://github.com/geektimecoil/react-native-onesignal') react-native-onesignal]
      li #[a(href='https://github.com/chirag04/react-native-in-app-utils') react-native-in-app-utils]
      li #[a(href='https://github.com/mathiasbynens/base64') base-64]
    p.copy Permchecker by #[a(href='http://liuhao.im') Hao Liu]<br>&copy; 2017 - present<br>Made in Sunnyvale